/* when styling each section/question, display: none; will hide 
it until ready to be shown, afterwards was changed to opacity: 0; not 
sure why yet */

/* opening screen */
.startPage {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startPage h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.startPage p {
    text-align: center;
    font-size: 20px;
}

/* start button */
.startPage #startButton button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

/* header with high score button and timer */
#viewHighScore {
    position: relative;
    float: left;
    display: block;
}

#timer {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#timer #timeText {
    margin: 10px;
}

#timer #countdown {
    margin: 10px;
}

#timeout {
    display: none;
}

/* quiz questions */
.quizBox.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quizBox {
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quizBox .queText {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30%;
}

.quizBox .optionList .btn-outline-secondary {
    margin: 5px 0;
    font-size: 20px;
    background: plum;
    border: 1px solid black;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quizBox .optionList .btn-outline-secondary:hover {
    color: white;
    background-color: purple;
}

.quizBox .answer span {
    font-size: 20px;
    animation-duration: marks 2s;
    animation-timing-function: marks ease-out;
    display: none;
}

@keyframes marks {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

/* end page form */
#end {
    display:none;
}

/* high score page */
#lastPage {
    display:none;
}